html {
    margin: 0;
    height: 100%;
    width: 100%;
}

body {
    margin: 0px;
    background: radial-gradient(white, #A8D0E6);
    position: relative;
    min-height: 100%;
    box-sizing: border-box;
}

/*Header*/
.fixed-header {
    top: 0;
    display: flex;
    background: white;
    position: fixed;
    height: 12%;
    width: 100%;    
}

    .fixed-header #logo {
        width: 20%;
        height: 80%;
        display: flex;        
    }

    #header {
        margin-top: 2%;
        overflow: auto;

    }   

/*Footer*/
.fixed-footer {
    bottom: 0;
    margin: 0;
    background: linear-gradient(white,gray);
    overflow-x: hidden;
    padding: 0% 2% 0% 2%;
    width: 100%;
    height: 25%;
}

    .fixed-footer p {
        display: inline-grid; /*For the sponsor images*/
    }
    #footer {
        position: absolute;
        width: 100%;
        height: 170px;
    }

/*Sponsors*/
.column {
    float: left;
    width: 150px;
    overflow: hidden;
}

/* Clearfix (clear floats) */
.row::after {
    content: "";
    clear: both;
    display: table;
}

.main {
    padding: 6% 3% 25% 3%;
    min-height: 100%;
    font-size: x-large;
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
    min-height: 100%;
}

#volunteers {
    margin-right: 260px; /* Same width as the sidebar + left position in px */
    font-size: 28px; /* Increased text to enable scrolling */
}

/* Style tab links */
.tablink {
    box-sizing: border-box;
    background: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 18px;
    transition: 0.3s;
    display: flex;
    color: #0000A0;
}

    .tablink:hover {
        color: white;
        background-color: #A8D0E6;
    }

/*nav bar for volunteers section*/
    .sidenav {
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 12%;
    right: 0px;
    background: #FFD770;
    overflow: hidden;
    padding: 5px;
    color: white;
}

    .sidenav a {
        padding: 6px 8px 6px 16px;
        text-decoration: none;
        font-size: 22px;
        color: #2196F3;
        display: block;
    }

        .sidenav a:hover {
            color: #A8D0E6;
        }

        .nav {
            padding: 60px; /*this is to prevent the text from going under the header when clicked*/
        }


    /*
    @media screen and (max-height: 450px) {
        .sidenav {
            padding-top: 15px;        
        }

        .sidenav a {
            font-size: 18px;
        }
}
    */