// For scss not originally included in the template.
// Import this at the bottom of main.scss to ensure attributes can override defaults and all mixins are defined.
// Use !important to override original attributes (bad form, but makes maintenance easier).

@include skel-breakpoints((
    desktop: '(min-width: 1000px)'
));

@include breakpoint(desktop) {
    #header {
        h1 {
            left: 5.5em !important; // Original 1em
        }
        nav {
            right: 5em !important; // Original 0.5em
        }
    }

    #footer {
        ul.actions {
            left: 5.5em !important; // Original 1em
        }
        ul.menu {
            right: 5em !important; // Original 2em
        }
    }
}
