/*
    For scss not originally included in the template.
    Import this at the bottom of main.scss to ensure attributes can override defaults and all mixins are defined.
    Use !important to force override if necessary (bad form, but makes maintenance easier).
*/

/* CSS FAQ Template by Sebastiano Guerriero (https://codyhouse.co/gem/css-faq-template/) */
@import "components/faq";

/* ResponsiveSlides.js v1.55 */
@import "components/slider";

/* Resize and align logo. */
#logo {
    width: 20%;
    vertical-align: middle;
}

/* Add breakpoints for desktop and mobile */
@include skel-breakpoints((
	desktop: '(min-width: 1000px)',
	mobile: '(max-width: 999px)',
));

/* Move header and footer buttons closer to center. */
@include breakpoint(desktop) {
    #header {
        h1 {
            left: 5.5em !important; // Original 1em
        }
        nav {
            right: 5em !important; // Original 0.5em
        }
    }

    #footer {
        ul.actions {
            left: 5.5em !important; // Original 1em
        }
        ul.menu {
            right: 5em !important; // Original 2em
        }
    }
}

/* Original padding is way too much. */
.main.style3 {
    padding: 2em 0 2em 0; // Original 6em 0 6em 0
}

#contact {
    padding-bottom: 2em; // Original 0em
}

/* UCLA color scheme */
a {
    color: #3284bf; // Original #98c593
}

input[type="submit"] {
    background-color: #3284bf; // Original #98c593
}

/* Table of contents */
.toc_container {
    background: #f9f9f9 none repeat scroll 0 0;
    border: 1px solid #aaa;
    display: table;
    font-size: 95%;
    margin-bottom: 1em;
    padding: 20px;
    width: 100%;
    li {
        list-style: outside none none !important;
    }
    ul {
        list-style: outside none none !important;
        margin-bottom: 0;
        ul {
            li {
                a {
                    color: #00a5e5; // Secondary color for subpoints
                }
            }
        }
    }
}

/* Alert message box */
/* Reference: https://www.w3schools.com/howto/howto_js_alert.asp */
.alert {
    padding: 20px;
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1
}

/* Close button on alert message box */
.closebtn {
    color: #31708f;
    font-weight: bold;
    float: right;
    font-size: 2em;
    cursor: pointer;
    transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
    color: #1436DD;
}

/* Expand margins for the FAQ sections */
.faq-container {
    margin-left: 3em !important;
    margin-right: 3em !important;
    width: 100% !important;
}

/* Adjustments to mobile headers: allow 'Volunteer Portal' and 'Go Back...' 
    buttons to appear, make portal and back buttons pop out more, move logo to the left.*/
@include breakpoint(mobile) {
    .mobile-nav {
        display: list-item !important;
        color: #31708f !important;
    }
    #header {
        nav {
            display: inline-block;
            ul {
                li {
                    display: none;
                }
            }
        }
        h1 {
            text-align: left !important;
            margin-left: 1em !important;
        }
    }
}

/* Parking map */
#parking_map {
    width: 100%;
    height: 400px;
    background-color: grey;
}
